h1 {
    text-align: center;
    margin-top: 45px;
    padding-top: 40px;
    position: relative;
    left: 5px;

}

.introPara { 
    text-align: end !important;
    width: 450px;
    position: relative;
    left: 5px;
    margin: auto;
    padding: auto;
    margin-top: 10px;
    padding-top: 2px;
    font-size: 20px;
}

body {
    background-color: rgb(199, 199, 199);
}

.introBanner {
    height: 275px;
    width: 650px;
    text-align: center;
    position: relative;
    left: 275px;
    margin: auto;
    padding: auto;
    background-color: white;
    box-shadow: 0px 0px 25px 2px black;
}