@media (max-width: 635px) {
    .displayPhotos1
    {
        width: 65% !important;
        position: relative;
        margin-left: 80px !important;
        
    }
}



.homeHeader {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 10px;
    padding-top: 40px;
    position: relative;
    left: 5px;
    font-size: 45px;
    color: white;
}

.introPara { 
    text-align: center;
    height: 45%;
    width: 85%;
    position: relative;
    margin: auto;
    padding: auto;
    margin-top: 2px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 25px;
    color: white
}

body {
    background-color: #97AABD;
}

.introBanner {
    height: 75%;
    width: 85%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    margin: auto;
    margin-top: 80px;
    padding: auto;
    background-color:  #C96567;
    box-shadow: 0px 0px 10px rgb(49, 49, 49);
    border-radius: 35px;
    outline-offset: -10px;
}

img {
    width: 95%;
}

.displayPhotos1 {
    width: 45%;
    position: relative;
    float: left;
    display: block;
    text-align: center;
    margin: auto;
    margin-left: 30px;
    margin-bottom: 20px;
    opacity: 1;
    padding: 25px;
    padding-top: 50px;
    background-color: rgb(40, 40, 42);
    outline: 1px solid #C96567;
    outline-offset: -10px;
    box-shadow: 0px 0px 15px rgb(49, 49, 49);
    border-radius: 10px;
}

/* .displayPhotos:hover {
    opacity: .5;
    outline: 2px solid orangered;
    box-shadow: 0px 0px 25px rgb(246, 91, 19);
} */


.testingText {
    position: relative;
    top: 35px;
    font-size: 20px;
    color: white;
}