/* Using !important to override the materialize css since I didn't create the whole navbar */

@media (max-width: 1075px) {
    .desktop {
      display: none !important;
    }
  }

@media (min-width: 1076px) {
    .sidenav-trigger
    {display: none !important;}
}

@media (max-width: 1075px) {
    .brand-logo1
    {
        text-decoration: underline;
        text-decoration-color: orangered;
    }
}

@media (max-width: 605px) {
    .brand-logo1
    {
        display: none;
    }
}

.nav-wrapper {
    background-color: rgb(41, 41, 41);
    text-align: left;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
}

nav {
    height: 90px;

}
nav .brand-logo1 {
    font-size: 65px;
    color: rgb(224, 224, 224);
    max-width: auto;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#linkTags {
    font-size: 25px;
    color: white;
    background-color: rgb(204, 59, 7);
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 10px;   
}

#linkTags:hover {
    background-color: rgb(236, 71, 11);
    border: 2px solid white;
}

#linkBtn {
    background-color: rgb(2, 228, 228);
    font-size: 20px;
    text-align: center;
}


#sideRoutes {
    font-size: 20px;
    color: black;
    background-color: rgb(233, 64, 2);
    border-radius: 15px;
    border: 2px solid black;
    margin: 5px;
}

#sideRoutes:hover {
    background-color: rgb(243, 90, 19);
    color: white;
}

#slide-out {
    width: 200px;
    height: 230px;
    background-color: rgb(23, 189, 153);
    box-shadow: 2px 2px 10px rgb(219, 219, 219);
    text-align: center;
}