.testImages {
    width: 75%;
    position: relative;
    display: block;
    margin: auto;
    margin-top: 45px;
    padding: 25px;
    background-color: #1A1A1D;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgb(49, 49, 49);
}

.testBreak {
    width: 78%;
}

h1 {
    color: white;
    margin-top: 25px;
    text-align: center;
}


.testImages:hover {
    box-shadow: 0px 0px 15px #C96567;
}

.projectInfo {
    width: 75%;
    position: relative;
    text-align: center;
    margin: auto;
    padding: 25px;
}
